/* VARIABLES */

:root {
	/* Colors */
	--bg-color-primary: rgba(161, 0, 0, 0.3);
	--bg-color-secondary: rgba(252, 252, 252, 1);
	--bg-color-recipe-subtitle: rgba(235, 235, 235, 1);
	--text-color-primary: black;
	--text-color-h1: rgba(161, 0, 0, 1);

	/* Font family */
	--font-primary: "Open Sans", sans-serif;

	/* Font size */
	--font-size-h1: 1.75rem;
	--font-size-h2: 1.5rem;

	/* Gap */
	--gap-sm: 1rem;
	--gap-lg: 1.5rem;

}