/* VARIABLES */

:root {
	/* Colors */
	--bg-color-primary: rgb(161 0 0 / 30%);
	--bg-color-secondary: rgb(252 252 252 / 100%);
	--bg-color-recipe-subtitle: rgb(235 235 235 / 100%);
	--text-color-primary: black;
	--text-color-h1: rgb(161 0 0 / 100%);

	/* Font family */
	--font-primary: "Open Sans", sans-serif;

	/* Font size */
	--font-size-h1: 1.75rem;
	--font-size-h2: 1.5rem;

	/* Gap */
	--gap-sm: 1rem;
	--gap-lg: 1.5rem;

}