/* BASE */
/* CSS RESET */

/* makes sizing simpler */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	font-family: var(--font-primary);
	background-color: var(--bg-color-primary);
	color: var(--text-color-primary);
}

/* min body height */
body {
	min-height: 100vh;
	padding-bottom: 4rem;
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* GLOBAL ELEMENTS */

h1 {
	color: var(--text-color-h1);
	font-size: var(--font-size-h1);
	font-weight: 700;
}

h2 {
	font-size: var(--font-size-h2);
	font-weight: 700;
}

ul,
ol {
	padding-left: 1.5rem;
	/* motsvarar 32px för font size 16px, båda går att skriva */
	line-height: 2;
}

/* LAYOUT */

main {
	background-color: var(--bg-color-secondary);
	margin: auto;
	max-width: 1280px;
}

.recipe-container {
	padding: 3rem 3rem 4rem 3rem;
	display: flex;
	flex-direction: column;
	gap: var(--gap-lg);
}

section {
	display: flex;
	flex-direction: column;
	gap: var(--gap-sm);
}

/* 4. COMPONENTS */

/* Hero-bild */
.main-image {
	/* för att hela tiden hålla sig i samma bredd som sin container/föräder. ex krymper när föräldern krymper */
	width: 100%;
	/* Bilden får aldrig bli bredare än 1280px, även om fönstret är större.
	På stora skärmar = den stannar på 1280px.
	På små skärmar = den följer width: 100% och blir mindre. */
	max-width: 1280px;
	/* Bildens höjd låses till exakt 500px, oavsett originalbildens proportioner. */
	height: 500px;
	display: block;
	/* Centrerar bilden horisontellt när den är smalare än sin förälder.
	0 = ingen marginal uppe/nere,
	auto på vänster/höger = centrera. */
	margin: 0 auto;
	/* fyller hela 500px höga ytan utan att ändra proportionerna */
	object-fit: cover;
}

/* Receptets header */
.recipe-header {
	display: flex;
	flex-direction: column;
	gap: var(--gap-lg);
}

.recipe-subtitel {
	padding: 1rem;
	background-color: var(--bg-color-recipe-subtitle);
}

/* Serveringsförslag */
.serving-images {
	display: flex;
	gap: var(--gap-lg);
}

.serving-images figure {
	/* tar bort default styling på figure */
	margin: 0;
	flex: 1;
}

.serving-image {
	width: 100%;
	min-width: 300px;
	height: 467px;
	display: block;
	margin: 0 auto;
	/* beskär bilden snyggt då proportionerna inte matchar */
	object-fit: cover;
}

/* MEDIA QUERIES */

/* gör brytpunkten när bilderna inte får plats längre */
@media (max-width: 715px) {
	.recipe-container {
		padding: 3rem 1rem 4rem 1rem;
	}

	.serving-images {
		/* stapla bilderna */
		flex-direction: column;
	}
}